---
import { site } from '../../content/site';
---

<a
  href={site.facebookUrl}
  class="sticky-social"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Abrir Facebook de La Quinta del Ynfanzon"
>
  Ver actualidad en Facebook
</a>
